@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

:root {
  --mainCTA: #2d1e1f;
  --primaryColor: #ff9e09;
  --mainGrey: #ece8dc;
  --mainWhite: #fff;
  --mainDark: #222;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
}

html {
  font-size: 62.5%;
}

body {
  background: var(--mainWhite);
  color: var(--mainDark);
  font-family: "Montserrat", "Helvetica Neue", sans-serif !important;
  font-size: 1.6rem;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Oswald', sans-serif !important;
  letter-spacing: .25rem;
}

h1 {font-size: 5.2rem !important;}
h2 {font-size: 3.0rem !important;}
h3 {font-size: 2.5rem !important;}
h4 {font-size: 2.5rem !important;}
h5 {font-size: 1.8rem !important;}
h6 {font-size: 1.4rem !important;}

.text-yellow {
  color: var(--primaryColor);
}
.cart-icon {
  cursor: pointer;
  color: var(--primaryColor);
  font-size: 2rem;
}

.default-background {
  min-height: calc(100vh - (64.25px));
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient( rgba(var(--primaryColor), 0.5), rgba(var(--primaryColor), 0.5) );
  /* background: linear-gradient( rgba(255, 158, 9, 0.5), rgba(255, 158, 9, 0.5) ); */
  background-position: center;
  background-size: cover;
}
.default-background h1 {
  text-transform: uppercase;
  color: var(--primaryColor);
  font-weight: 700;
  margin-top: -6rem;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, .5);
  letter-spacing: 1.5rem;
}
.btn-yellow {
  color: var(--mainCTA);
  border-color: var(--mainCTA);
  padding: .8rem 1.2rem;
  font-size: 1.4rem;
}
.btn-yellow:hover {
  background-color: var(--mainCTA);
  color: var(--mainWhite);
}